[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}

.card-3d-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-front {
  z-index: 10;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.card-front,
.card-back {
  border-radius: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.07);
  background: #fff;
  -webkit-backface-visibility: hidden;
  visibility: visible;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.pricing:checked ~ .card-3d-wrap .card-3d-wrapper .user-name {
  transform: scale(0);
  transition: transform 0.7s cubic-bezier(0.75, 0, 0.85, 1);
}
